body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(45,45,45);
}

.clock {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: solid 5px green;
    position: absolute;
}

.hand {
    position: absolute;
    right: 149px;
    bottom: 149px; /* sets in the center point */
    transform-origin: 0% 100%;
}

#seconds-hand {
    height: 130px;
    background: red;
    width: 2px;
    opacity: 50%;
}

#minutes-hand {
    height: 110px;
    background: white;
    width: 2px;
    opacity: 100%;
}

#hours-hand {
    height: 90px;
    background: grey;
    width: 2px;
    opacity: 100%;
}

.line {
    width: 150px;
    height: 4px;
    background-color: white;
    position: absolute;
    transform-origin: 0% 100%;
    bottom: 150px;
    right: 0px;
    z-index: -10;
}

.inner-circle {
    width: 270px;
    height: 270px;
    z-index: -5;
    background-color: rgb(45, 45, 45);
    right: 15px;
    bottom: 15px;
    position: absolute;
    border-radius: 130px;
}

#center {
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    bottom: 140px;
    left: 140px;
    position: absolute;
}



